{% extends "base.html" %}
{% block title %}
Todo一覧 - {{ super() }}
{% endblock %}
{% block content %}
<div class="jumbotron">
  <p>Todo</p>
</div>
{% if todos %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>タスク名</th>
        <th>有効期限</th>
        <th>編集ボタン</th>
        <th>完了ボタン</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        <tr>
          <th>{{ loop.index }}</th>
          <th>{{ todo.todo_name }}</th>
          <th>{{ todo.limit_date }}</th>
          <th><a href="{{ url_for('app.update_todo', id=todo.id)}}" class="btn btn-success">編集</a></th>
          <th>
            <form action="{{ url_for('app.done_todo', id=todo.id)}}" method="POST">
              <input type="submit" value="完了" class="btn btn-primary">
            </form>
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>現在登録されてるTodoはありません</p>
{% endif %}
<div class="jumbotron">
  <p>Done</p>
</div>
{% if done_todo_items %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>タスク名</th>
        <th>有効期限</th>
        <th>戻すボタン</th>
        <th>削除ボタン</th>
      </tr>
    </thead>
    <tbody>
      {% for done_todo_item in done_todo_items %}
        <tr>
          <th>{{ loop.index }}</th>
          <th>{{ done_todo_item.todo_name }}</th>
          <th>リミット実装予定</th>
          <th><a href="#" class="btn btn-success">戻す</a></th>
          <th>
            <form action="{{ url_for('app.done_todo', id=done_todo_item.id)}}" method="POST">
              <input type="submit" value="削除" class="btn btn-primary">
            </form>
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>完了しているTodoがありません</p>
{% endif %}

{% endblock %}