{% extends "base.html" %}
{% block title %}
Category一覧 - {{ super() }}
{% endblock %}
{% block content %}
<h1>Category一覧</h1>
{% if categories %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>カレゴリ名</th>
        <th>編集ボタン</th>
        <th>削除ボタン</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ category.category_name }}</td>
          <td><a href="{{ url_for('app.update_category', id=category.id)}}" class="btn btn-success" >編集</a></td>
          <td><a href="#" class="btn btn-danger" >削除</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>カレゴリーが存在しません。<a href="#">作成してください</a></p>
{% endif %}
{% endblock %}